@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.light {
  color: #333333;
}

.primary-light {
  background-color: hsl(267deg, 100%, 96%);
}

body,
button {
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
}

.h1 {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 56.25em) {
  .h1 {
    font-size: 1.875rem;
  }
}
.h1--menu {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
}

.h2 {
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 56.25em) {
  .h2 {
    font-size: 1.3125rem;
  }
}
.h2--section {
  text-align: left;
  font-weight: 500;
  font-size: 1.5625rem;
  letter-spacing: -0.01875rem;
}
.h2--menu {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: left;
}

.location__text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.location__icon {
  font-size: 1.0625rem;
}

.btn {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.0125rem;
}
@media (min-width: 56.25em) {
  .btn {
    font-size: 1.25rem;
  }
}

.numerotation {
  font-size: 0.8125rem;
}
@media (min-width: 56.25em) {
  .numerotation {
    font-size: 0.9375rem;
  }
}

.instruction {
  font-weight: 800;
  font-size: 1rem;
}
@media (min-width: 56.25em) {
  .instruction {
    font-size: 1.125rem;
  }
}

.sticker {
  color: hsl(165deg, 100%, 26%);
  font-size: 0.875rem;
  font-weight: 600;
}

.h3 {
  font-size: 1.125rem;
}

.text-lg {
  font-size: 1.0625rem;
}

.footer {
  color: white;
  letter-spacing: 0.03125rem;
}

.btn {
  position: relative;
  color: white;
  border: none;
  border-radius: 50px;
  background: linear-gradient(160deg, #ff79da 0%, hsl(267deg, 66%, 60%) 100%);
  padding: 1rem 1.375rem;
  box-shadow: 0px 9px 10px -5px rgba(0, 0, 0, 0.3);
}
.btn--commande {
  padding: 1rem 3.125rem;
  margin: 3.875rem auto;
  display: flex;
}
.btn:hover {
  cursor: pointer;
  background: linear-gradient(160deg, #ff93e1 0%, #a06be1 100%);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.438);
}
@media (min-width: 56.25em) {
  .btn {
    padding: 1.5rem 1.875rem;
  }
  .btn--commande {
    padding: 1.5rem 4.375rem;
  }
}

h2.section {
  margin-bottom: 1.875rem;
}
h2.section--mg-lg {
  margin: 0.375rem 0 1.375rem;
}

.h3 {
  margin-bottom: 3px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes loader {
  0% {
    height: 100vh;
    width: 100vw;
  }
  90% {
    opacity: 1;
  }
  100% {
    height: 100vh;
    width: 100vw;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    height: 100vh;
    width: 100vw;
  }
  90% {
    opacity: 1;
  }
  100% {
    height: 100vh;
    width: 100vw;
    opacity: 0;
  }
}
@-webkit-keyframes up-down {
  0% {
    width: min(85%, 500px);
  }
  50% {
    width: 0%;
  }
  100% {
    width: min(85%, 500px);
  }
}
@keyframes up-down {
  0% {
    width: min(85%, 500px);
  }
  50% {
    width: 0%;
  }
  100% {
    width: min(85%, 500px);
  }
}
@-webkit-keyframes jump-out {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(0.1) translateY(-100%);
  }
}
@keyframes jump-out {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(0.1) translateY(-100%);
  }
}
@-webkit-keyframes slide-in {
  0% {
    transform: translateY(1.25rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(1.25rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.like-btn {
  position: absolute;
  right: 0;
  bottom: 1.75rem;
  margin-right: 7.6%;
  font-size: 1.4375rem;
}
.like-btn .check-active {
  display: none;
  color: hsl(267deg, 66%, 60%);
  transition: 0.2s;
}
.like-btn .check-active:hover {
  transform: scale(1.1);
}
.like-btn .check-active:active {
  transform: scale(1.2);
  opacity: 0;
}
.like-btn .check-inactive {
  -webkit-animation: fadeIn 0.8s ease-in;
          animation: fadeIn 0.8s ease-in;
  transition: 0.2s;
}
.like-btn .check-inactive:hover {
  transform: scale(1.1);
}
.like-btn .check-inactive:active {
  transform: scale(1.2);
  opacity: 50%;
}
.like-btn input[type=checkbox] {
  height: 0;
  width: 0;
}
.like-btn input:checked ~ .check-inactive {
  display: none;
}
.like-btn input:checked ~ .check-active {
  display: inline-block;
  -webkit-animation: fadeIn 0.8s ease-in;
          animation: fadeIn 0.8s ease-in;
}
.like-btn--big {
  position: static;
  margin-right: 5.5%;
  align-self: center;
}

header {
  height: 3.9375rem;
  width: min(100%, 1440px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 56.25em) {
  header {
    justify-content: flex-start;
  }
}

main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  width: min(100%, 1440px);
}

footer {
  height: 12.5rem;
}
footer .footer--container {
  width: min(100%, 1440px);
  height: 100%;
  padding: 1.6875rem;
  margin: 0 auto;
}

.section {
  width: min(100%, 1440px);
  padding: 2.875rem 1.1875rem;
  margin: 0 auto;
}
.section--plats {
  padding: 2.875rem 0.875rem 0 0.875rem;
}

.screen-loader {
  position: fixed;
  height: 0;
  width: 0;
  background-color: hsl(0deg, 0%, 96%);
  z-index: 1;
  display: flex;
}
.screen-loader .animation-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  width: min(85%, 700px);
}
.screen-loader .logo {
  margin-bottom: 1.25rem;
  width: 90%;
  -webkit-animation: jump-out 0.5s 2.5s;
          animation: jump-out 0.5s 2.5s;
}
.screen-loader .load-bar {
  height: 0.6875rem;
  border-radius: 5px;
  background: linear-gradient(160deg, #ff79da 0%, hsl(267deg, 66%, 60%) 100%);
  -webkit-animation: up-down 2s 3 ease-out;
          animation: up-down 2s 3 ease-out;
  -webkit-animation-timing-function: cubic-bezier(0.78, 0.13, 0.32, 0.89);
          animation-timing-function: cubic-bezier(0.78, 0.13, 0.32, 0.89);
}
@media (min-width: 56.25em) {
  .screen-loader .logo {
    margin-bottom: 3.125rem;
  }
}

.restaurants {
  background-color: hsl(0deg, 0%, 96%);
  padding-bottom: 4rem;
}
.restaurants__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.1875rem;
}

.card {
  position: relative;
  height: 15.625rem;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 5px 9px 1px rgba(150, 148, 150, 0.3);
}
.card__anchor {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  height: 10.9375rem;
  min-height: 10.9375rem;
  width: 100%;
}
.card img--center {
  -o-object-position: center 60%;
     object-position: center 60%;
}
.card__sticker {
  margin: 4%;
  padding: 1.9% 3.5%;
  background-color: hsl(165deg, 56%, 74%);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
}
.card__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  padding-left: 0.8125rem;
  white-space: nowrap;
}
@media (min-width: 43.75em) {
  .card {
    width: 45%;
    flex-grow: 1;
  }
}
@media (min-width: 56.25em) {
  .card {
    width: 20%;
  }
}

.location {
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg, 0%, 92%);
  box-shadow: inset 0px 5px 7px -5px #ababab;
}
.location__container {
  display: flex;
  position: relative;
}
.location__icon {
  position: absolute;
  left: -28%;
  bottom: 10%;
}
@media (min-width: 56.25em) {
  .location {
    position: absolute;
    top: -3.9375rem;
    right: 0;
    height: 3.9375rem;
    width: 15.625rem;
  }
}

.hero {
  height: 17.9375rem;
  padding: 39px 0 57px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0deg, 0%, 96%);
}
.hero .titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.625rem 0;
}
.hero .titles h1 {
  padding: 0 15% 0 12%;
}
.hero .titles h2 {
  padding: 0 9%;
}
@media (min-width: 43.75em) {
  .hero .titles {
    justify-content: space-evenly;
  }
  .hero .titles h1 {
    padding: 0 5%;
  }
}
@media (min-width: 56.25em) {
  .hero {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hero .titles {
    height: 70%;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  height: 27.5rem;
}
.fonctionnement .etapes-container {
  margin-top: 1.8125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4375rem 0;
}
.fonctionnement .etape {
  width: 94.54%;
  margin-left: 0.75rem;
  height: 4.6875rem;
  display: flex;
  align-items: center;
  position: relative;
  background-color: hsl(0deg, 0%, 96%);
  box-shadow: 0px 5px 9px 1px rgba(150, 148, 150, 0.3);
  border-radius: 20px;
}
.fonctionnement .etape__numerotation {
  position: absolute;
  left: -0.75rem;
  margin-top: 0.0625rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: hsl(267deg, 66%, 60%);
  border-radius: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.fonctionnement .etape__icone {
  width: 20%;
  margin-left: 0.625rem;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  color: grey;
}
.fonctionnement .etape:hover {
  background-color: hsl(267deg, 100%, 96%);
}
.fonctionnement .etape:hover .etape__icone {
  color: hsl(267deg, 66%, 60%);
}
@media (min-width: 56.25em) {
  .fonctionnement {
    height: 21.875rem;
  }
  .fonctionnement .etapes-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 70%;
    margin: auto 0;
  }
  .fonctionnement .etape {
    white-space: nowrap;
    width: 25%;
    min-width: 16.875rem;
  }
  .fonctionnement .etape__icone {
    font-size: 1.25rem;
  }
}

.footer {
  background-color: hsl(0deg, 0%, 21%);
}
.footer--container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__logo {
  height: 1.0625rem;
  filter: invert(100%);
}
.footer__menu {
  height: 100%;
  margin-top: 1.375rem;
  margin-bottom: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__menu__icon {
  width: 1.0625rem;
  font-size: 0.8125rem;
}

.header {
  padding-top: 0.625rem;
}
.header__logo {
  height: 54%;
}
@media (min-width: 56.25em) {
  .header__logo {
    margin-left: 8%;
  }
}
.header--back {
  position: relative;
}
.header__arrow {
  position: absolute;
  display: flex !important;
  top: 0;
  left: 1.375rem;
  bottom: 0;
  margin-top: 0.3125rem;
  align-items: center;
  color: hsl(0deg, 0%, 21%);
  font-size: 1.3125rem;
}

.menu {
  background-color: hsl(0deg, 0%, 96%);
  display: flex;
  flex-direction: column;
}
.menu__start {
  position: relative;
  height: 17.1875rem;
}
.menu__picture {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__title {
  position: absolute;
  bottom: -6%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1.9375rem 1.25rem 0 1.25rem;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: hsl(0deg, 0%, 96%);
}
@media (min-width: 43.75em) {
  .menu__title {
    padding: 1.9375rem calc(1.25rem + 10%) 0 calc(1.25rem + 10%);
  }
  .menu__plats {
    width: 80%;
  }
}
@media (min-width: 56.25em) {
  .menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu__start {
    flex-basis: 100%;
  }
  .menu__title {
    padding: 1.9375rem 1.25rem 0 1.25rem;
    justify-content: flex-start;
    gap: 1.25rem;
  }
  .menu__btn {
    flex-basis: 100%;
  }
  .menu__plats {
    flex-basis: 28%;
    flex-grow: 1;
  }
}

.plats__title {
  align-self: flex-start;
  height: 1.75rem;
  margin-left: 6px;
}
.plats__title span {
  height: 100%;
  display: inline-block;
  border-bottom: 0.1875rem hsl(165deg, 56%, 74%) solid;
  border-top: 0.1875rem rgba(255, 255, 255, 0) solid;
}
.plats__container {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem 0;
  margin-top: 0.875rem;
}

.plat {
  height: 4.1875rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.75rem;
  border-radius: 12px;
  overflow: hidden;
  transition: 2s;
  transform: translateY(2.5rem);
  opacity: 0;
  -webkit-animation: slide-in 0.5s ease-out forwards;
          animation: slide-in 0.5s ease-out forwards;
}
.plat__details {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.plat__description {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: width 1s;
}
.plat__prix {
  width: 10%;
  text-align: right;
  padding-right: 0.4375rem;
}
.plat__check-wrapper {
  position: relative;
  height: 0;
  width: 0;
}
.plat__check {
  position: relative;
  width: 3.75rem;
  top: -2.875rem;
  right: -0.8125rem;
  background-color: hsl(165deg, 56%, 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 4.375rem;
  font-size: 1.25rem;
  transition: 1s;
}
.plat:hover .plat__description {
  width: calc(90% - 3.75rem);
}
.plat:nth-child(2) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.plat:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.plat:nth-child(4) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.plat:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}/*# sourceMappingURL=style.css.map */