@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.light {
  color: #333333;
}

.primary-light {
  background-color: hsl(267deg, 100%, 96%);
}

body,
button {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.h1 {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}
@media (min-width: 56.25em) {
  .h1 {
    font-size: 30px;
  }
}
.h1--menu {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

.h2 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 56.25em) {
  .h2 {
    font-size: 21px;
  }
}
.h2--section {
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: -0.3px;
}
.h2--menu {
  text-transform: uppercase;
  font-size: 16px;
}

.location__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.location__icon {
  font-size: 17px;
}

.btn {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
}
@media (min-width: 56.25em) {
  .btn {
    font-size: 20px;
  }
}

.numerotation {
  font-size: 13px;
}
@media (min-width: 56.25em) {
  .numerotation {
    font-size: 15px;
  }
}

.instruction {
  font-weight: 800;
  font-size: 16px;
}
@media (min-width: 56.25em) {
  .instruction {
    font-size: 18px;
  }
}

.sticker {
  color: hsl(165deg, 100%, 26%);
  font-size: 14px;
  font-weight: 600;
}

.h3 {
  font-size: 18px;
}

.text-lg {
  font-size: 17px;
}

.footer {
  color: white;
  letter-spacing: 0.5px;
}

.btn {
  position: relative;
  color: white;
  border: none;
  border-radius: 50px;
  background: linear-gradient(160deg, #ff79da 0%, hsl(267deg, 66%, 60%) 100%);
  padding: 16px 22px;
  box-shadow: 0px 9px 10px -5px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  cursor: pointer;
  background: linear-gradient(160deg, #ff93e1 0%, #a06be1 100%);
}
@media (min-width: 56.25em) {
  .btn {
    padding: 24px 30px;
  }
}

h2.section {
  margin-bottom: 30px;
}
h2.section--mg-lg {
  margin: 6px 0 22px;
}

.h3 {
  margin-bottom: 3px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
    font-size: 10px;
  }
  100% {
    opacity: 100%;
    font-size: 23px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
    font-size: 10px;
  }
  100% {
    opacity: 100%;
    font-size: 23px;
  }
}
@-webkit-keyframes loader {
  0% {
    height: 100vh;
    width: 100vw;
  }
  90% {
    opacity: 1;
  }
  100% {
    height: 100vh;
    width: 100vw;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    height: 100vh;
    width: 100vw;
  }
  90% {
    opacity: 1;
  }
  100% {
    height: 100vh;
    width: 100vw;
    opacity: 0;
  }
}
@-webkit-keyframes up-down {
  0% {
    width: min(85%, 500px);
  }
  50% {
    width: 0%;
  }
  100% {
    width: min(85%, 500px);
  }
}
@keyframes up-down {
  0% {
    width: min(85%, 500px);
  }
  50% {
    width: 0%;
  }
  100% {
    width: min(85%, 500px);
  }
}
@-webkit-keyframes jump-out {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(0.1) translateY(-100%);
  }
}
@keyframes jump-out {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(0.1) translateY(-100%);
  }
}
.like-btn {
  width: 78px;
  display: flex;
  justify-content: center;
  font-size: 23px;
  padding-bottom: 10px;
}
.like-btn .check-active {
  display: none;
  color: hsl(267deg, 66%, 60%);
}
.like-btn .check-inactive {
  transition: 0.3s;
}
.like-btn .check-inactive:hover {
  transform: scale(1.2);
}
.like-btn .check-inactive:active {
  font-size: 12px;
  opacity: 50%;
}
.like-btn input[type=checkbox] {
  height: 0;
  width: 0;
}
.like-btn input:checked ~ .check-inactive {
  display: none;
}
.like-btn input:checked ~ .check-active {
  display: inline;
  -webkit-animation: fadeIn 0.3s ease-in forwards;
          animation: fadeIn 0.3s ease-in forwards;
}
.like-btn--big {
  align-items: flex-end;
  padding-left: 4%;
}

header {
  height: 63px;
  width: min(100%, 1440px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 56.25em) {
  header {
    justify-content: flex-start;
  }
}

main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  width: min(100%, 1440px);
}

footer {
  height: 200px;
}
footer .footer--container {
  width: min(100%, 1440px);
  height: 100%;
  padding: 27px;
  margin: 0 auto;
}

.section {
  width: min(100%, 1440px);
  padding: 2.875rem 1.1875rem;
  margin: 0 auto;
}

.screen-loader {
  position: fixed;
  height: 0;
  width: 0;
  background-color: hsl(0deg, 0%, 96%);
  z-index: 1;
  display: flex;
}
.screen-loader .logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10%;
  width: min(85%, 500px);
  -webkit-animation: jump-out 0.5s 2.5s;
          animation: jump-out 0.5s 2.5s;
}
.screen-loader .load-bar {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 40%;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(160deg, #ff79da 0%, hsl(267deg, 66%, 60%) 100%);
  -webkit-animation: up-down 2s 3 ease-out;
          animation: up-down 2s 3 ease-out;
  -webkit-animation-timing-function: cubic-bezier(0.78, 0.13, 0.32, 0.89);
          animation-timing-function: cubic-bezier(0.78, 0.13, 0.32, 0.89);
}

.restaurants {
  background-color: hsl(0deg, 0%, 96%);
  padding-bottom: 64px;
}
.restaurants__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 19px;
}
.restaurants .card {
  position: relative;
  height: 250px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 9px 1px rgba(150, 148, 150, 0.3);
}
.restaurants .card__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  height: 175px;
  min-height: 175px;
  width: 100%;
}
.restaurants .card__img--center {
  -o-object-position: center 60%;
     object-position: center 60%;
}
.restaurants .card__sticker {
  margin: 4%;
  padding: 1.9% 3.5%;
  background-color: hsl(165deg, 56%, 74%);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
}
.restaurants .card__text {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 13px;
  white-space: nowrap;
}
.restaurants .card__text__left-container {
  flex-grow: 1;
}
@media (min-width: 43.75em) {
  .restaurants .card {
    width: 45%;
    flex-grow: 1;
  }
}
@media (min-width: 56.25em) {
  .restaurants .card {
    width: 20%;
  }
}

.card {
  margin: 0 auto;
}
.card img {
  max-width: 100%;
  height: auto;
}

.location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg, 0%, 92%);
  box-shadow: inset 0px 5px 7px -5px #ababab;
}
.location__container {
  display: flex;
  position: relative;
}
.location__icon {
  position: absolute;
  left: -28%;
  bottom: 10%;
}
@media (min-width: 56.25em) {
  .location {
    position: absolute;
    top: -63px;
    right: 0;
    height: 63px;
    width: 250px;
  }
}

.hero {
  height: 287px;
  padding: 39px 0 57px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0deg, 0%, 96%);
}
.hero .titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px 0;
}
.hero .titles h1 {
  padding: 0 15% 0 12%;
}
.hero .titles h2 {
  padding: 0 9%;
}
@media (min-width: 43.75em) {
  .hero .titles {
    justify-content: space-evenly;
  }
  .hero .titles h1 {
    padding: 0 5%;
  }
}
@media (min-width: 56.25em) {
  .hero {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hero .titles {
    height: 70%;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  height: 440px;
}
.fonctionnement .etapes-container {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px 0;
}
.fonctionnement .etape {
  width: 94.54%;
  margin-left: 12px;
  height: 75px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: hsl(0deg, 0%, 96%);
  box-shadow: 0px 5px 9px 1px rgba(150, 148, 150, 0.3);
  border-radius: 20px;
}
.fonctionnement .etape__numerotation {
  position: absolute;
  left: -12px;
  margin-top: 1px;
  height: 24px;
  width: 24px;
  background-color: hsl(267deg, 66%, 60%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.fonctionnement .etape__icone {
  width: 20%;
  margin-left: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: grey;
}
.fonctionnement .etape:hover {
  background-color: hsl(267deg, 100%, 96%);
}
.fonctionnement .etape:hover .etape__icone {
  color: hsl(267deg, 66%, 60%);
}
@media (min-width: 56.25em) {
  .fonctionnement {
    height: 350px;
  }
  .fonctionnement .etapes-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 70%;
    margin: auto 0;
  }
  .fonctionnement .etape {
    white-space: nowrap;
    width: 25%;
    min-width: 270px;
  }
  .fonctionnement .etape__icone {
    font-size: 20px;
  }
}

.footer {
  background-color: hsl(0deg, 0%, 21%);
}
.footer--container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__logo {
  height: 17px;
  filter: invert(100%);
}
.footer__menu {
  height: 100%;
  margin-top: 22px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__menu__icon {
  width: 17px;
  font-size: 13px;
}

.header {
  padding-top: 10px;
}
.header__logo {
  height: 54%;
}
@media (min-width: 56.25em) {
  .header__logo {
    margin-left: 8%;
  }
}
.header--back {
  position: relative;
}
.header__arrow {
  position: absolute;
  display: flex !important;
  top: 0;
  left: 22px;
  bottom: 0;
  margin-top: 5px;
  align-items: center;
  color: hsl(0deg, 0%, 21%);
  font-size: 21px;
}

.menu {
  background-color: hsl(0deg, 0%, 96%);
}
.menu__start {
  position: relative;
  height: 275px;
}
.menu__picture {
  height: 100%;
  max-width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__title {
  position: absolute;
  bottom: -6%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 31px 20px 0 20px;
  border-radius: 40px 40px 0 0;
  background-color: hsl(0deg, 0%, 96%);
}

.plats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plats__title {
  align-self: flex-start;
  height: 28px;
}
.plats__title span {
  height: 100%;
  display: inline-block;
  border-bottom: 3px hsl(165deg, 56%, 74%) solid;
  border-top: 3px rgba(255, 255, 255, 0) solid;
}
.plats__container {
  width: 100%;
  background-color: red;
}

.plat {
  display: flex;
}/*# sourceMappingURL=style.css.map */