@use "../util" as u;
header {
  height: u.rem(63);
  width: min(100%, 1440px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @include u.breakpoint(large) {
    justify-content: flex-start;
  }
}

main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  width: min(100%, 1440px);
}

footer {
  height: u.rem(200);
  & .footer--container {
    width: min(100%, 1440px);
    height: 100%;
    padding: u.rem(27);
    margin: 0 auto;
  }
}

.section {
  width: min(100%, 1440px);
  padding: u.rem(46) u.rem(19);
  margin: 0 auto;

  &--plats {
    padding: u.rem(46) u.rem(14) 0 u.rem(14);

    @include u.breakpoint(large) {
      &:nth-child(2) {
        padding-right: 0;
      }
      &:nth-child(3) {
        padding-right: 0;
        padding-left: 0;
      }
      &:nth-child(4) {
        padding-left: 0;
      }
    }
  }
}
