@use "../util" as u;
header {
  height: 63px;
  width: min(100%, 1440px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @include u.breakpoint(large) {
    justify-content: flex-start;
  }
}

main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  width: min(100%, 1440px);
}

footer {
  height: 200px;
  & .footer--container {
    width: min(100%, 1440px);
    height: 100%;
    padding: 27px;
    margin: 0 auto;
  }
}

.section {
  width: min(100%, 1440px);
  padding: u.rem(46) u.rem(19);
  margin: 0 auto;

  &--plats {
    padding: u.rem(46) u.rem(14) 0 u.rem(14);
  }

  &--commande {
    display: flex;
    justify-content: center;
    padding: u.rem(62) u.rem(19);
  }
}
