@use "../../globals/colors" as c;
@use "../../util/" as u;
.footer {
  background-color: c.$background-dark-clr;
  &--container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__logo {
    height: u.rem(17);
    filter: invert(100%);
  }

  &__menu {
    height: 100%;
    margin-top: u.rem(22);
    margin-bottom: u.rem(10);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__icon {
      width: u.rem(17);
      font-size: u.rem(13);
    }
  }
}
