@use "../../util" as u;
@use "../../globals/colors" as c;

.hero {
  height: 287px;
  padding: 39px 0 57px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: c.$background-light-clr;

  & .titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px 0;
    & h1 {
      padding: 0 15% 0 12%;
    }
    & h2 {
      padding: 0 9%;
    }
  }

  @include u.breakpoint(medium) {
    & .titles {
      justify-content: space-evenly;

      & h1 {
        padding: 0 5%;
      }
    }
  }
  @include u.breakpoint(large) {
    & {
      flex-direction: row;
      justify-content: space-evenly;

      .titles {
        height: 70%;
      }
    }
  }
}
