@use "../../globals/colors" as c;
@use "../../util" as u;

.screen-loader {
  position: fixed;
  height: 0;
  width: 0;
  background-color: c.$background-light-clr;
  z-index: 1;
  display: flex;
  animation: loader 3s;

  .animation-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    width: min(85%, 450px);
  }

  & .logo {
    margin-bottom: u.rem(20);
    width: 90%;
    animation: jump-out 0.5s 2.5s;
  }

  & .load-bar {
    height: u.rem(11);
    border-radius: 5px;
    background: linear-gradient(
      160deg,
      c.$secondary-clr 0%,
      c.$primary-clr 100%
    );
    animation: up-down 2s 3 ease-out;
    animation-timing-function: cubic-bezier(0.78, 0.13, 0.32, 0.89);
  }

  @include u.breakpoint(large) {
    & .logo {
      margin-bottom: u.rem(50);
    }
  }
}
