@use "../../util" as u;
@use "../../globals/colors" as c;

.location {
  height: u.rem(50);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: c.$background-clr;
  box-shadow: inset 0px 5px 7px -5px darken(c.$background-clr, 25%);

  &__container {
    display: flex;
    position: relative;
  }

  &__icon {
    position: absolute;
    left: -28%;
    bottom: 10%;
  }
  @include u.breakpoint(large) {
    position: absolute;
    top: u.rem(-63);
    right: 0;
    height: u.rem(63);
    width: u.rem(250);
  }
}
