@use "../../globals/colors" as c;

.restaurants {
  background-color: c.$background-light-clr;
  padding-bottom: 64px;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 19px;
  }
}
