@use "../util" as u;
@use "../globals/colors" as c;

.fonctionnement {
  height: 440px;
  & .etapes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px 0;
  }
  & .etape {
    width: 94.54%;
    margin-left: 12px;
    height: 75px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: c.$background-light-clr;
    box-shadow: 0px 5px 9px 1px rgba(150, 148, 150, 0.3);
    border-radius: 20px;

    &__numerotation {
      position: absolute;
      left: -12px;
      margin-top: 1px;
      height: 24px;
      width: 24px;
      background-color: c.$primary-clr;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }

    &__icone {
      width: 20%;
      margin-left: 10px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      color: grey;
    }

    &:hover {
      background-color: c.$primary-light-clr;
      & .etape__icone {
        color: c.$primary-clr;
      }
    }
  }

  @include u.breakpoint(large) {
    & {
      height: 350px;
    }
    & .etapes-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      height: 70%;
      margin: auto 0;
    }
    & .etape {
      white-space: nowrap;
      width: 25%;
      min-width: 270px;
      &__icone {
        font-size: 20px;
      }
    }
  }
}
