@use "../globals/colors" as c;

.footer {
  background-color: c.$background-dark-clr;
  &--container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__logo {
    height: 17px;
    filter: invert(100%);
  }

  &__menu {
    height: 100%;
    margin-top: 22px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__icon {
      width: 17px;
      font-size: 13px;
    }
  }
}
