@use "../util" as u;
@use "../globals/colors" as c;

.location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: c.$background-clr;
  box-shadow: inset 0px 5px 7px -5px darken(c.$background-clr, 25%);

  &__container {
    display: flex;
    position: relative;
  }

  &__icon {
    position: absolute;
    left: -28%;
    bottom: 10%;
  }
  @include u.breakpoint(large) {
    position: absolute;
    top: -63px;
    right: 0;
    height: 63px;
    width: 250px;
  }
}
