@use "../util" as u;
@use "../globals/colors" as c;

.location {
  height: u.rem(53);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: c.$background-clr;
  box-shadow: inset 0px 5px 7px -4px darken(c.$background-clr, 25%);

  &__container {
    display: flex;
    position: relative;
  }

  &__icon {
    position: absolute;
    left: -28%;
    bottom: 10%;
  }
}
