@use "../util/" as u;
@use "../globals/colors" as c;

.restaurants {
  background-color: c.$background-light-clr;
  padding-bottom: 64px;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 19px;
  }

  & .card {
    position: relative;
    height: 250px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 9px 1px rgba(150, 148, 150, 0.3);

    &__img {
      object-fit: cover;
      object-position: bottom;
      height: 175px;
      width: 100%;

      &--center {
        object-position: center 60%;
      }
    }

    &__sticker {
      margin: 4%;
      padding: 1.9% 3.5%;
      background-color: c.$tertiary-clr;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 2px;
    }

    &__text {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-left: 13px;
    }

    &__icone {
      width: 78px;
      display: flex;
      justify-content: center;
      font-size: 23px;
      padding-bottom: 10px;

      & .check-active {
        display: none;
        color: c.$primary-clr;
      }
      & .check-inactive {
        transition: 0.1s;
        &:hover {
          transform: scale(1.2);
        }
        &:active {
          font-size: 12px;
          opacity: 50%;
        }
      }

      & input[type="checkbox"] {
        height: 0;
        width: 0;
      }

      & input:checked ~ .check-inactive {
        display: none;
      }

      & input:checked ~ .check-active {
        display: inline;
        animation: fadeIn 0.1s ease-in forwards;
      }
    }

    &__text__left-container {
      flex-grow: 1;
    }
  }

  @include u.breakpoint(medium) {
    & {
      & .card {
        width: 45%;
        flex-grow: 1;
      }
    }
  }
}
