@use "./colors" as c;
@use "../util/" as u;

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes loader {
  0% {
    height: 100vh;
    width: 100vw;
  }
  90% {
    opacity: 1;
  }
  100% {
    height: 100vh;
    width: 100vw;
    opacity: 0;
  }
}

@keyframes up-down {
  0% {
    width: min(85%, 500px);
  }
  50% {
    width: 0%;
  }
  100% {
    width: min(85%, 500px);
  }
}

@keyframes jump-out {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(0.1) translateY(-100%);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(u.rem(20));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
