@use "../util" as u;
@use "../globals/colors" as c;

.btn {
  position: relative;
  color: white;
  border: none;
  border-radius: 50px;
  background: linear-gradient(160deg, c.$secondary-clr 0%, c.$primary-clr 100%);
  padding: u.rem(16) u.rem(22);
  box-shadow: 0px 9px 10px -5px rgba(0, 0, 0, 0.3);

  &--commande {
    padding: u.rem(16) u.rem(50);
    margin: u.rem(62) auto;
    display: flex;
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(
      160deg,
      lighten(c.$secondary-clr, 5%) 0%,
      lighten(c.$primary-clr, 5%) 100%
    );
    box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.438);
  }

  @include u.breakpoint(large) {
    padding: u.rem(24) u.rem(30);

    &--commande {
      padding: u.rem(24) u.rem(70);
    }
  }
}
