// variables
$primary-clr: hsl(267, 66%, 60%);
$primary-light-clr: hsl(267, 100%, 96%);
$secondary-clr: #ff79da;
$tertiary-clr: hsl(165, 56%, 74%);
$tertiary-dark-clr: hsl(165, 100%, 26%);
$background-clr: hsl(0, 0%, 92%);
$background-light-clr: hsl(0, 0%, 96%);
$text-clr: hsl(0, 0%, 0%);

// class modifiers

.light {
  color: lighten($text-clr, 20%);
}

.primary-light {
  background-color: hsl(267, 100%, 96%);
}
