@use "../globals/colors" as c;
.like-btn {
  position: absolute;
  right: 0px;
  bottom: 28px;
  margin-right: 7.6%;
  font-size: 23px;

  & .check-active {
    display: none;
    color: c.$primary-clr;
    transition: 0.2s;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1.2);
      opacity: 0;
    }
  }
  & .check-inactive {
    animation: fadeIn 0.8s ease-in;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1.2);
      opacity: 50%;
    }
  }

  & input[type="checkbox"] {
    height: 0;
    width: 0;
  }

  & input:checked ~ .check-inactive {
    display: none;
  }

  & input:checked ~ .check-active {
    display: inline-block;
    animation: fadeIn 0.8s ease-in;
  }

  &--big {
    position: static;
    margin-right: 5.5%;
    align-self: center;
  }
}

// TODO: Nettoyer les propriétés qui polluent
