@use "../globals/colors" as c;
.like-btn {
  position: absolute;
  right: 0px;
  bottom: 28px;
  margin-right: 7.6%;
  font-size: 23px;

  & .check-active {
    display: none;
    color: c.$primary-clr;
  }
  & .check-inactive {
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      font-size: 12px;
      opacity: 50%;
    }
  }

  & input[type="checkbox"] {
    height: 0;
    width: 0;
  }

  & input:checked ~ .check-inactive {
    display: none;
  }

  & input:checked ~ .check-active {
    display: inline;
    animation: fadeIn 0.3s ease-in forwards;
  }

  &--big {
    align-items: flex-end;
    padding-left: 4%;
  }
}
