// h1, h2, h3 etc. style
// Assign font family here
// Remember: for font size, use vw (ex: font-size: 1.75rem + 2 vw) and clamp
@use "../util" as u;
@use "./colors" as c;

body,
button {
  @include u.font("Roboto");
  font-size: u.rem(15);
}

.h1 {
  font-weight: 900;
  font-size: u.rem(24);
  text-align: center;
  @include u.breakpoint(large) {
    font-size: u.rem(30);
  }

  &--menu {
    @include u.font("Shrikhand");
    font-size: u.rem(28);
  }
}

.h2 {
  font-size: u.rem(18);
  font-weight: 300;
  text-align: center;

  @include u.breakpoint(large) {
    font-size: u.rem(21);
  }

  &--section {
    text-align: left;
    font-weight: 500;
    font-size: u.rem(25);
    letter-spacing: u.rem(-0.3);
  }

  &--menu {
    text-transform: uppercase;
    font-size: u.rem(16);
    text-align: left;
  }
}

.p {
  font-size: u.rem(16);
  font-weight: 400;
  &--instruction {
    font-weight: 700;
    @include u.breakpoint(large) {
      font-size: u.rem(18);
    }
  }
  &--restaurant {
    font-size: u.rem(17);
  }
  &--plat {
    white-space: nowrap;
    font-size: u.rem(15);
  }
}

.btn {
  font-size: u.rem(16);
  font-weight: 400;
  letter-spacing: u.rem(0.2);
  @include u.breakpoint(large) {
    font-size: u.rem(20);
  }
}

.numerotation {
  font-size: u.rem(13);
  @include u.breakpoint(large) {
    font-size: u.rem(15);
  }
}

.h4 {
  color: c.$tertiary-dark-clr;
  font-size: u.rem(14);
  font-weight: 600;
}

.h3 {
  font-size: u.rem(18);
  white-space: nowrap;
}

.footer {
  color: white;
  letter-spacing: u.rem(0.5);
}
