@use "../../globals/colors" as c;
@use "../../util/" as u;

.like {
  position: absolute;
  right: 0;
  bottom: u.rem(28);
  margin-right: 7.6%;
  font-size: u.rem(23);

  & input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  &__inactive {
    animation: fadeIn 1.5s ease-out;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.15);
      opacity: 50%;
    }
  }

  &__active.fa-heart {
    display: none;
  }

  & input:checked ~ &__inactive {
    display: none;
  }

  & input:checked ~ &__active.fa-heart {
    display: inline-block;
    color: c.$primary-clr;
    opacity: 100%;
    animation: fadeIn 1.5s ease-out;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.15);
      opacity: 50%;
    }
  }

  &--big {
    position: static;
    margin-right: 5.5%;
    align-self: center;
  }
}
