@use "../../globals/colors" as c;
@use "../../util/" as u;

.like {
  position: absolute;
  right: 0;
  bottom: u.rem(28);
  margin-right: 7.6%;
  font-size: u.rem(23);

  &__active.fa-heart {
    display: none;

    color: c.$primary-clr;
    transition: 0.2s;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1.2);
      opacity: 0;
    }
  }
  &__inactive {
    animation: fadeIn 0.8s ease-in;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1.2);
      opacity: 50%;
    }
  }

  & input[type="checkbox"] {
    height: 0;
    width: 0;
  }

  & input:checked ~ &__inactive {
    display: none;
  }

  & input:checked ~ &__active {
    display: inline-block;
    animation: fadeIn 0.8s ease-in;
  }

  &--big {
    position: static;
    margin-right: 5.5%;
    align-self: center;
  }
}

// TODO: Nettoyer les propriétés qui polluent
