@use "../../globals/colors" as c;
@use "../../util/" as u;

.menu {
  background-color: c.$background-light-clr;
  display: flex;
  flex-direction: column;
  gap: u.rem(14);

  &__start {
    position: relative;
    height: u.rem(275);
  }

  &__picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: -6%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: u.rem(31) u.rem(20) 0 u.rem(20);
    border-radius: u.rem(40) u.rem(40) 0 0;
    background-color: c.$background-light-clr;
  }

  @include u.breakpoint(medium) {
    &__title {
      padding: u.rem(31) calc(u.rem(20) + 10%) 0 calc(u.rem(20) + 10%);
    }

    &__plats {
      width: 80%;
    }
  }

  @include u.breakpoint(large) {
    flex-direction: row;
    flex-wrap: wrap;

    &__start {
      flex-basis: 100%;
    }

    &__title {
      padding: u.rem(31) u.rem(20) 0 u.rem(20);
      justify-content: flex-start;
      gap: u.rem(20);
    }

    &__btn {
      flex-basis: 100%;
    }

    &__plats {
      width: 29%;
      flex-grow: 1;
    }
  }
}
