@use "../../globals/colors" as c;
@use "../../util/" as u;
.menu {
  background-color: c.$background-light-clr;
  display: flex;
  flex-direction: column;

  &__start {
    position: relative;
    height: 275px;
  }

  &__picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: -6%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 31px 20px 0 20px;
    border-radius: 40px 40px 0 0;
    background-color: c.$background-light-clr;
  }

  @include u.breakpoint(medium) {
    &__title {
      padding: 31px calc(20px + 10%) 0 calc(20px + 10%);
    }
    &__plats {
      width: 80%;
    }
  }
  @include u.breakpoint(large) {
    flex-direction: row;
    flex-wrap: wrap;

    &__start {
      flex-basis: 100%;
    }
    &__title {
      padding: 31px 20px 0 20px;
      justify-content: flex-start;
      gap: 20px;
    }
    &__btn {
      flex-basis: 100%;
    }
    &__plats {
      flex-basis: 28%;
      flex-grow: 1;
    }
  }
}
