@use "../../globals/colors" as c;
@use "../../util/" as u;
.plats {
  &__title {
    align-self: flex-start;
    height: u.rem(28);
    margin-left: u.rem(6);

    & span {
      height: 100%;
      display: inline-block;
      border-bottom: u.rem(3) c.$tertiary-clr solid;
      border-top: u.rem(3) rgba(255, 255, 255, 0) solid;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: u.rem(15);
    margin-top: u.rem(14);
  }
}
